# Python
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# Microsoft Office temporary files
~$*.doc
~$*.docx
~$*.xls
~$*.xlsx
~$*.ppt
~$*.pptx

# macOS
.DS_Store